body {
  background: red;
}

#board {
  background: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  border: solid;
  border-color: 'black';
}